*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

h1{
  font-family: "Jaini Purva", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h2{
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

h3{
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
}

footer{
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}